*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url('./nyc_skyview.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Courier New', Courier, monospace;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2b2828;
    opacity: 0.9;
    min-height: 50px;
}
button {
    background-color: #03767A;
    border: none;
    color: white;
}
button:hover {
    opacity: 0.8;
}
nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}
nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
nav a:hover {
    color: #03767A;
}
nav h1 {
    color: white;
    margin-left: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.search-wrapper {
    min-height: 35px;
    border-radius: 20px;
    background: white;
    display:flex;
    align-items: center;
    gap: 10px;
}
.search-wrapper input {
    min-height: 35px;
    border-radius: 20px;
    border: none;
    min-width:250px;
    flex-grow: 2;
    text-indent: 10px;
    color: #03767A;
}
.search-wrapper input::placeholder {
    color: #03767A;
}
.search-wrapper input:focus {
    outline: none;
}
.search-wrapper .button-container {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #03767A;
}
.search-wrapper button {

    border-radius: 5px;
    border: none;
    padding: 6px 10px;
}
.content-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
    color: white;
    background-image: linear-gradient(to left, rgba(255, 0, 0, 0), rgb(3, 118, 122, 0.5));
    padding-left:200px;
    padding-top: 100px;
}
.content-container h1 {
    font-size: 75px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 30vw;
}
.content-container h4 {
    width: 18vw;
}
.content-container button {
    width: 8vw;
    padding: 10px;
    border-radius:5px;
    font-weight: bold;
}
.about nav h1, .contact nav h1{
    flex-grow: 1
}
.about nav ul, .contact nav ul {
    flex-grow: 2;
}
.about .content-container h4 {
    width: 80vw;
    padding: 30px 25px;
    border-radius: 5px;
    box-shadow: inset 0px 0px 100px 100px rgba(0,0,0,0.3);
    font-weight: normal;
}
.our_team-container {
    padding-left: 100px;
    display: flex;
    align-items: center;
    gap: 150px;
}
.our_team-container ul {
    display: flex;
    gap:30px;
}
.our_team-container h2 {
    width: 10vw;
    line-height: 1.1;
    font-size: 75px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card-container {
    padding: 10px;
    border-radius: 5px;
    box-shadow: inset 0px 0px 100px 100px rgba(0,0,0,0.3);
    display: flex;
    gap: 10px;
    justify-content: space-between;
}
.card-container img {
    height: 50px;
}
.card-content {
    height: 150px;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
}
.card-content button {
    background-color: #233D76;
    border: 1px solid white;
}
.about .content-container, .contact .content-container {
    padding-top: 0;
}
.about .content-container h1 {
    font-size: 85px;
    font-weight: 800;
}
.form-container {
    box-shadow: inset 0px 0px 100px 100px rgba(0,0,0,0.3);
    width: 50vw;
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: space-between;
    border-radius: 5px;
    margin-top: 200px;
    margin-right: 5px;
}
.form-container input::placeholder, textarea::placeholder {
    color: rgb(201, 195, 195);
}
.form-container input, textarea {
    background: transparent;
    border: 1px solid #aca5a5;
    border-radius: 5px;
    width: 100%;
    color: white;
}
.form-container input {
    height: 30px;
}
.form-container textarea {
    height: 150px;
}
.form-container button {
    width: 100%;
}
.contact .content-container {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-left: 0px;
}
.contact .content-container > div:first-child {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 50px;
    margin-right: 100px;
}
.contact .content-container h1 {
    font-size: 75px;
    font-weight: 800;
}
.contact .content-container h5 {
    font-size: 16px;
    font-weight: normal;
}
#results-container {
    position: absolute;
    top: 100px;
    right: 400px;
}
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    max-width: 320px;
}

.card-img {
    width: 100%;
    height: auto;
}

.card-body {
    padding: 20px;
}

.card-title {
    color: black;
    margin-bottom: 10px;
}

.card-text {
    color: #333;
}

.card-button {
    display: inline-block;
    text-decoration: none;
    background-color: #03767A;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 10px;
}

.card-button:hover {
    background-color: #0056b3;
}
